<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<title>Estam University e-lms | 404</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="description"
			content="Ecole Superieure Des Technologies Advances de Management (ESTAM), Benin Republic, Official Website 2019">
		<meta name="keywords"
			content="Estam University, University, Benin Republic, Cotonou, Cotonou Benin Republic, Official Estam University, Estam, EstamUniversity, Benin School, Benin University">
		<meta name="author" content="Ecole Superieure Des Technologies Advances de Management (ESTAM)">
		<!-- Favicon -->
		<link href="../static/img/logo.png" rel="icon">
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="">
						<img src="../static/images/favicon.png" width="90" height="90" alt="">
						</div>
						<div class="content">
							<div class="inner">
								<h1>Not Found 😥</h1>
								<p>Our developers are working very hard to make studying easier for you. 
                            	  <a href="https://github.com/zenoftech">developers contact</a> or support them <br><a href="https://ko-fi.com/zenoftech"> <img src="https://img.shields.io/badge/Support%20me%20a%20coffee-brightgreen?style=for-the-badge&logo=Ko-fi" /></a> <img src="https://media.giphy.com/media/27UtynCENEhLgiAmik/giphy.gif" width="22" height="22"><br />
								</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="./index.html">Home</a></li>
								<li><a href="https://zenoftech.pythonanywhere.com/">AI</a></li>
								<li><a href="https://user302.pythonanywhere.com/">Play</a></li>
								<li><a href="#contact">Contact</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

		

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form action="https://formspree.io/f/xjvdaybq"
								method="POST"
								enctype="multipart/form-data">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field half">
											<label>
												Your file:</label>
												<input type="file" name="upload" disabled="disabled">
											</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">
									<li><a href="https://twitter.com/zenoftech1" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://facebook.com/info.mukhtar" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/amuktar1/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://gihub.com/zenoftech" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

						

							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Developer: <a href="https://github.com/zenoftech">Zenoftech</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
