<html>

<head>
    <title>Estam University e-lms | I have &#x1F36A;s</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description"
        content="Ecole Superieure Des Technologies Advances de Management (ESTAM), Benin Republic, Official Website 2019">
    <meta name="keywords"
        content="Estam University, University, Benin Republic, Cotonou, Cotonou Benin Republic, Official Estam University, Estam, EstamUniversity, Benin School, Benin University">
    <meta name="author" content="Ecole Superieure Des Technologies Advances de Management (ESTAM)">

   <!-- Icon Font Stylesheet -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

   <!-- Libraries Stylesheet -->
   <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
   <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

   <!-- Bootstrap Stylesheet -->
   <link href="../static/css/bootstrap.min.css" rel="stylesheet">
   <link href="../static/css/example.css" rel="stylesheet">

   <!-- Site Stylesheet -->
   <link href="../static/css/style.css" rel="stylesheet">
   

    <!-- Favicon -->
    <link href="../static/img/logo.png" rel="icon">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.ihavecookies.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Quicksand:400,500" rel="stylesheet">
    <link href="../static/css/popup.css" rel="stylesheet">

    <style>
        :root {
            --purple: #3B3646;
            --red: #EE4B5A;
        }

        * {
            padding: 0;
            margin: 0 ;
            border: none;
        }

        body {
            padding: 30px;
            color: #333;
            font-family: 'Roboto Slab', system-ui;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
        }

        .container {
            margin: 0 auto;
            max-width: 650px;
        }

        .highlight {
            background: rgba(255, 215, 0, 0.115);
        }

        h1 {
            color: var(--red);
            font-family: 'Quicksand', sans-serif;
            font-weight: 500;
            font-size: 30px;
            margin-bottom: 20px;
        }
    </style>


    <script src="../static/js/jquery.ihavecookies.js"></script>
    <script src="../static/js/jquery.ihavecookies.min.js"></script>
    <!-- Popup modal begins -->
    <script type="text/javascript">
        var options = {
            title: '&#x1F36A; Accept Cookies & Privacy Policy?',
            message: 'There are no cookies used on this site, but if there were this message could be customised to provide more details. Click the <strong>accept</strong> button below to see the optional callback in action...',
            delay: 600,
            expires: 1,
            link: '#privacy',
            onAccept: function () {
                var myPreferences = $.fn.ihavecookies.cookie();
                console.log('Yay! The following preferences were saved...');
                console.log(myPreferences);
            },
            uncheckBoxes: true,
            acceptBtnLabel: 'Accept Cookies',
            moreInfoLabel: 'More information',
            cookieTypesTitle: 'Select which cookies you want to accept',
            fixedCookieTypeLabel: 'Essential',
            fixedCookieTypeDesc: 'These are essential for the website to work correctly.'
        }

        $(document).ready(function () {
            $('body').ihavecookies(options);

            if ($.fn.ihavecookies.preference('marketing') === true) {
                console.log('This should run because marketing is accepted.');
            }

            $('#ihavecookiesBtn').on('click', function () {
                $('body').ihavecookies(options, 'reinit');
            });
        });

    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Quicksand:400,500" rel="stylesheet">

    <!-- End of Popup -->
</head>

<body>

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="logo"><img src="../static/img/logo.png" alt="ESTAM logo"
                        width="65"></i> Estam e-lms</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Home</a>
                <a href="https://zenoftech.pythonanywhere.com" class="nav-item nav-link">A.I</a>
                <a href="" class="nav-item nav-link">Courses</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="" class="dropdown-item">Library</a>
                        <a href="" class="dropdown-item">Testimonial</a>
                        <a href="" class="dropdown-item">test/quiz</a>
                    </div>
                </div>
                <a href="https://us21.list-manage.com/contact-form?u=ae278775b091b1c01d9a9d30e&form_id=6ae7f4455c2415a65b788fe068dab6fa

" class="nav-item nav-link">Contact</a>
            </div>
            <a href="./login.html" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">login<i
                    class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->

    <div class="container-fluid p-0 mb-5 ">
        <br>
        <h1>Policy and Privacy</h1>
        <p>We use cookies to make sure that our website works properly, as well as some ‘optional’ cookies to
            personalise content and advertising, provide social media features and analyse how people use our site. By
            accepting some or all optional cookies you give consent to the processing of your personal data, including
            transfer to third parties, some in countries outside of the European Economic Area that do not offer the
            same data protection standards as the country where you live. You can decide which optional cookies to
            accept by clicking on ‘Manage Settings’, where you can also find more information about how your personal
            data is processed. Further information can be found in our privacy policy.</p>
        <p>If you don't see it then you've probably already accepted it. Click the button below to reopen it.</p>

        <p><button id="ihavecookiesBtn">Open Settings</button></p>


        <ul>
            <li><input type="checkbox" id="opt1" value="Y" checked> <label for="opt1">Checked by default &dash; remains
                    checked</label>
            <li><input type="checkbox" id="opt2" value="Y"> <label for="opt2">Unchecked by default &dash; remains
                    unchecked</label>
        </ul>
    </div>


    <h1>Privacy Statement</h1>
    <div class="container-fluid p-0 mb-5">
        <div>
            <p>This policy was last updated on 3 April 2023.</p>

            <p>
                We will only use the personal data gathered over this website as set out in this policy. Below you will
                find information on how we use your personal data, for which purposes your personal data is used, with
                whom it is shared and what control and information rights you may have.<br>&nbsp;
            </p>
            <h2>I. Summary of our processing activities</h2>
            <p>We publish scholarly journals, books, news and data. Some of this material is freely available. The
                following summary offers a quick overview of the data processing activities that are undertaken on our
                website. You will find more detailed information under the indicated sections below.</p>
            <ul>
                <li>When you visit our website for informational reasons without setting up an account, only limited
                    personal &nbsp;data &nbsp;will be processed to provide you with the website itself (see III).</li>
                <li>If you are identified as belonging to a customer organisation then we collect information in order
                    to be able to &nbsp;provide usage reporting to that customer.</li>
                <li>In case you register for one of our services, use the submission and peer review systems or
                    subscribe to our newsletters, further personal data will be processed in the scope of such services
                    (see IV and V).&nbsp;</li>
                <li>Furthermore, your personal data will be used to provide you with relevant advertising for our
                    services and products &nbsp;(see VII) and for statistical analysis that helps us to improve our
                    website (see VIII). Additionally, we improve your website experience with third party content (see
                    IX).</li>
                <li>Your personal data may be disclosed to third parties (see X) that might be located outside your
                    country of &nbsp;residence; potentially, different data protection standards may apply (see XII).
                </li>
                <li>We have implemented appropriate safeguards to secure your personal data (see XIII) and retain your
                    personal data only as long as necessary (see XIII).</li>
                <li>Under the legislation applicable to you, you may be entitled to exercise certain rights with regard
                    to the processing &nbsp;of your personal data (see XIV).</li>
            </ul>
            <h2>II. Definitions</h2>
            <ul>
                <li>
                    <strong>Personal data</strong>
                    : means any information relating to a natural person who can be identified, directly or indirectly,
                    in particular by reference to an identifier such as a name, an identification number, location data,
                    or an online identifier.
                </li>
                <li>
                    <strong>Processing</strong>
                    : means any operation which is performed on personal data, such as collection, recording,
                    organisation, structuring, storage, adaptation or any kind of disclosure or other use.
                </li>
            </ul>
            <h2>III. Informational use of the website</h2>
            <p>When you visit our website for informational reasons, i.e. without registering for any of our provided
                services listed under IV and without providing us with personal data in any other form, we may
                automatically collect additional information about you which will contain personal data only in limited
                cases and which is automatically recognised by our server, such as:</p>
            <p>Examples might include:</p>
            <p>
                <em>
                    - your IP address;<br>
                    - your device type, name and IDs;<br>
                    - the date and time of your requests;<br>
                    - the content of your requests;<br>
                    - information on your browser version;<br>
                    - your screen resolution;<br>- information on your operating system, including language settings.
                </em>
            </p>
            <p>We use such information only to assist us in providing an effective service (e.g. to adapt our website to
                the needs of your device or to allow you to log in to our website), and to collect broad demographic
                information for anonymised, aggregated use.</p>
            <p>If you are identified by IP or equivalent method as belonging to a customer organisation such as
                university or a company then we will also collect the identity of that organisation and use it to create
                usage reports which show the organisation how much of the content we publish is being read by their
                students, members or employees. This information does not contain anything related to a personal login
                unless (a) you are a nominated administrator for that organisation or (b) your organisation specifically
                requires it as a part of a usage-based access contract.</p>
            <p>The personal data automatically collected is necessary for us to provide the website, Article 6 sec. 1
                sent. 1 lit. b GDPR, and for our legitimate interest to guarantee the website’s stability and security,
                Article 6 sec. 1 sent. 1 lit. f GDPR.</p>
            <h2>IV. Registration for our services</h2>
            <p>Access to subscription content is provided via a variety of mechanisms such as IP site licenses, login
                via third party federated identity providers or by a personal account with us.&nbsp;Using the federated
                authentication method institutional selection data may be stored locally in your browser and shared with
                third party websites that you visit to ease the process of institutional authentication. If your access
                to our content is provided by an organisation or an institution like a university or a company then they
                choose the access method on your behalf. A personal account is required to purchase content directly
                from us, or to receive personal services like newsletters and alerts.</p>
            <p>
                If you need to create a personal login with us then we will store and process the following:<br>
                <br>
                <em>
                    - Information (such as your name, user name and email address) that is provided by registration;<br>
                    - Information in connection with an account sign-in facility (e.g. log-in and password
                    details);<br>- Communications sent by you (e.g. via e-mail or website communication forms).
                </em>
            </p>
            <p>The information that is necessary for the performance of the service is labelled accordingly. All further
                information is provided voluntarily.</p>
            <p>
                We will process the personal data you provide to:<br>
                <br>
                <em>
                    - Identify you at sign-in;<br>
                    - Provide you with the services and information offered through the website or which you
                    request;<br>
                    - Administer your account;<br>
                    - Communicate with you;<br>
                    - (behavioural) Advertising and profiling;<br>- Facilitate attendance of a conference;
                </em>
                <br>
                <em>
                    - Manage manuscript submissions;<br>- Provide access (where appropriate) to other Springer Nature
                    group content if you so request
                </em>
            </p>
            <p>For this, the legal basis is Article 6 sec. 1 sent. 1 lit. b GDPR. The use of your personal data for
                behavioural advertising and profiling is done with consent, Article 6 sec. 1 sent. 1 lit. a GDPR.</p>
            <p>We use the personal data and contact data you provide by registration to inform you directly about our
                additional products and services. The use of your personal data for directly advertising related
                products and services is with consent, Article 6 sec. 1 sent. 1 lit. a GDPR.</p>
            <p>
                You can object to the use of your personal data for direct marketing at any time. We will then refrain
                from any processing to the extent it is related to such purposes. You may opt-out of direct marketing
                via opt-out links in any marketing communication or via user profile pages on the website (where
                available). You can also inform us about your objection by contacting our Data Protection Office at
                &nbsp;<a href="mailto:estamuni.info@lms.com" class="is-external">estamuni.info@lms.com</a>
                .
            </p>
            <p>We offer notification services such as table-of-contents or new book alerts. This service is provided by
                means of a double-opt-in. Thus, you will receive an email containing a link by which you can confirm
                that you are the owner of the email address and wish to be notified via our email service. You can end
                this service by opting out via the link provided in each notification email. This notification service
                is based on your consent, Article 6 sec. 1 sent. 1 lit. a GDPR.</p>
            <p>Registration data is kept until such time as an account deletion request is made. If such a request is
                received we will erase your data within 30 days. Statutory storage obligations or the need for legal
                actions that may arise from misconduct within the services or payment problems can lead to a longer
                retention of your personal data. In this case, we will inform you accordingly.</p>
            <h2>V. Information about the specific uses that require registration/identification</h2>
            <p>
                1. <strong>Blogs</strong>
            </p>
            <p>You can publicly comment on our blog where we post a variety of articles to inform you about our
                activities. When posting a comment your name or user name will be made public. To be able to comment on
                our blog you will have to register as described in IV.</p>
            <p>In addition to the extent of processing described under IV, when you post a comment we will retain some
                of your personal data such as your IP address and name and other metadata such as time of posting. This
                is necessary to defend ourselves from possible liability claims that may arise from unlawful comments
                posted by you and reflects our legitimate interest with regard to the legal justification of this
                processing activity in Article 6 sec. 1 sent. 1 lit. f GDPR.</p>
            <p>We reserve the right to delete comments that are off-topic, spam, abusive, use excessive foul language,
                include ad hominem attacks or offend against legal regulations.</p>
            <p>
                2<strong>. Web shop </strong>
            </p>
            <p>For the use of our web shop you have to set up an account as described under IV.&nbsp;Your customer
                account retains your personal data for future purchases. You can delete the personal data as well as the
                account in your account’s settings. This processing is based on Article 6 sec. 1 sent. 1 lit. b.</p>
            <p>By statutory law we are required to retain the provided financial data in relation to transactions
                (including address, payment and order information) for ten years. However, after 2 years we will
                restrict the processing of your personal data to comply with the statutory requirements and will not
                process the personal data any further.&nbsp;Regarding this, the retention of your personal data is based
                on Article 6 sec. 1 sent. 1 lit. c GDPR.</p>
            <p>
                3. <strong>Article alerts and newsletters </strong>
            </p>
            <p>With your email address you can subscribe to our newsletters that provide you with the latest news about
                our products and services if you consent to receiving such newsletters. The legal basis for this
                processing is Article 6 sec. 1 sent. 1 lit. a GDPR. Your email address will be retained as long as you
                subscribe to our newsletters.</p>
            <p>This service is provided by means of a double-opt-in. Thus, you will receive an email containing a link
                by which you can confirm that you are the owner of the email address and wish to be notified via our
                email service. When your subscription is not confirmed within 96 hours after the confirmation mail has
                been requested, the personal data you provided will not be processed for any purpose and it will be
                automatically erased.</p>
            <p>You can unsubscribe from this service by opting out via the link provided in each newsletter.</p>
            <p>
                You can sign up for newsletters and request to be contacted about our products and services via
                Facebook. For this purpose, we are using <strong>Facebook Lead Ads</strong>
                , a service by Facebook Inc., 1601 South California Avenue, Palo Alto, CA 94304 U.S. ("Facebook"). Lead
                Ads makes it even easier for you to sign up to newsletters and request to be contacted as the form will
                already be pre-populated via Facebook with your data and you only need to submit the form. Of course,
                you have the opportunity to amend and review the data before submission. For more information on how
                lead ads work see here -&nbsp;<a href="https://www.facebook.com/business/ads/lead-ads"
                    class="is-external">https://www.facebook.com/business/ads/lead-ads</a>
                .
            </p>
            <p>The legal basis for this processing is Article 6 sec. 1 sent. 1 lit. a GDPR. Your email address will be
                retained as long as you subscribe to our newsletters or until you request the removal of your email
                address.</p>
            <p>
                You can unsubscribe from newsletters by opting out via the link provided in each newsletter. If you
                inquired about a product or service and no longer wish to be contacted, you can email <a
                    href="mailto:estamuni.info@lms.com" class="is-external">estamuni.info@lms.com</a>
                , citing the name of the product or service, and request that your email address be removed.&nbsp;&nbsp;
            </p>
            <p>
            <p>
                <strong>6. Customer service &nbsp;</strong>
            </p>
            <p>If you contact us by either</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail or physical mail</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;telephone or fax</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chat/messaging support</p>
            <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;through a website communication or submission form</p>
            <p>we will process the personal data you provide to process and fulfil your request. For this, the legal
                basis is Article 6 sec. 1 sent. 1 lit. a and b GDPR.</p>
            <p>To provide the requested service your data may be stored in a ticketing system and/or on a support
                platform to enable data access by the relevant customer support team member. Where appropriate the data
                will also be forwarded to a different team to fulfil the request (e.g. to update your data) or be used
                on physical data records, e.g. invoices.</p>
            <h2>V. Online advertising, e-commerce and related tools</h2>
            <p>We use marketing services to provide you with interesting offers. For this purpose, we place
                advertisements via advertising service providers that use cookies and/or web beacons that are activated
                when you visit our website. Cookies are small text files that are stored locally in the internet browser
                and allow recognition of a user. Web beacons are small image files, which allow log file recording and
                log file analysis. To present online advertising we use the services of, inter alia, Google AdExchange,
                Google AdSens. Respective advertisement is labelled as “ADVERTISEMENT” or “AdChoices”.&nbsp;&nbsp;&nbsp;
            </p>
            <p>The cookies and web beacons enable our service providers to collect information about you and your
                surfing behaviour, e.g. IP address, browser information, information on user activities and click data,
                and to recognize visitors to our website under a pseudonym and only display products that are likely to
                be of interest to our visitors. Most of the tools use pseudonymised or aggregated data, e.g. shortened
                IP addresses. The data is used to analyse the use of our website and, thereby, improve and optimize the
                website and to display advertising tailored to your needs. We collect this data (to improve your website
                experience and to promote our products and services).You can update your preferences via the “Manage
                cookies/Do not sell my data” link in the page footer. &nbsp;</p>
            <p>
                Personal data collected via first party cookies is based on consent, Article 6 sec. 1 sent. 1 lit. a
                GDPR, to improve your website experience and promote our products and services. We collect this data via
                a cookie management tool; you can update your preferences via the “Manage cookies/Do not sell my data”
                link in the page footer.<br>
                <br>
                Personal data collected via third party targeting cookies is based on your consent, Article 6 sec. 1
                sent. 1 lit.<strong></strong>
                GDPR. You can update your preferences via the “Manage cookies/Do not sell my data” link in the page
                footer.
            </p>
            <p>Please note that we neither have the control of the extent of personal data that is collected by the
                respective plug-in provider nor do we know the processing’s purpose or the period your personal data
                will be retained. Your personal data will be transferred to and processed inside and outside of the EEA.
                For further information about the potential risks of a cross border data transfer refer to XI.</p>
            <p>It is possible that the above providers may disclose your personal data to its business partners, third
                parties or authorities.</p>
            <p>
                You can prevent the installation of such a cookie (i) by a respective setting of your browser that
                blocks the installation of third party cookies, (ii) by deactivating the interest-related advertising
                under <a href="https://www.google.co.uk/ads/preferences"
                    class="is-external">https://www.google.co.uk/ads/preferences</a>
                , (iii) generally blocking cookies under <a href="https://www.google.co.uk/settings/ads/plugin"
                    class="is-external">https://www.google.co.uk/settings/ads/plugin</a>
                or (iv) by deselecting the option for tracking cookies via the Springer Nature cookie preference centre.
            </p>
            <p>
                Further information about the processing of your personal data in the provider’s course of operation is
                provided by its privacy policy. Moreover, you will be provided with further information with regard to
                your rights and settings concerning privacy. You can access the <strong>provider’s privacy
                    policy</strong>
                by following these links:
            </p>
            <p>
                <a href="https://policies.yahoo.com/xa/en/yahoo/privacy/index.htm" class="is-external">Yahoo</a>
                &nbsp;
            </p>
            <p>
                <a href="https://twitter.com/en/privacy" class="is-external">Twitter</a>
            </p>
            <p>
                <a href="https://en-gb.facebook.com/policy.php" class="is-external">Facebook</a>
            </p>
            <p>
                <a href="https://www.criteo.com/privacy/" class="is-external">Criteo</a>
            </p>
            <p>
                <a href="https://policies.google.com/privacy?hl=en" class="is-external">Google AdExchange</a>
            </p>
            <p>
                <a href="https://policies.google.com/privacy?hl=en" class="is-external">Google AdSense</a>
            </p>
            <p>
                <a href="https://moat.com/privacy" class="is-external">Oracle MOAT</a>
            </p>
            <p>
                <a href="https://policies.google.com/privacy?hl=en" class="is-external">Google Ad Manager</a>
            </p>
            <p>
                <a href="https://www.brightcom.com/privacy-policy/" class="is-external">Brightcom</a>
            </p>
            <p>
                <a href="https://rubiconproject.com/rubicon-project-advertising-technology-privacy-policy/"
                    class="is-external">Rubicon Project</a>
            </p>
            <p>
                <a href="https://pubmatic.com/legal/privacy-policy/#adservices" class="is-external">Pubmatic</a>
                &nbsp;
            </p>
            <p>
                <a href="https://www.appnexus.com/fr/corporate-privacy-policy" class="is-external">Appnexus</a>
            </p>
            <p>
                <a href="https://permutive.com/privacy/" class="is-external">Permutive</a>
            </p>
            <p>
                <a href="https://about.ads.microsoft.com/en-gb/resources/policies/microsoft-advertising-privacy-policy"
                    class="is-external">Microsoft Bing Ads</a>
            </p>
            <p>
                <a href="https://cop.evidon.com/companies/baynote" class="is-external">Baynote</a>
            </p>
            <p>
                <a href="https://www.cj.com/legal/privacy-uk" class="is-external">CJ Affiliate</a>
            </p>
            <p>
                <a href="https://www.hotjar.com/legal/policies/privacy/" class="is-external">Hotjar</a>
            </p>
            <p>
                <a href="https://marvellousme.com/privacy-policy/" class="is-external">Marvellous Machine</a>
            </p>
            <p>
                <a href="https://www.sap.com/uk/about/legal/privacy.html" class="is-external">SAP Marketing Cloud</a>
                &nbsp;&nbsp;&nbsp;
            </p>
            <p>
                <a href="http://www.docusign.com/company/privacy-policy" target="_blank" class="is-external">DocuSign
                    &nbsp;</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
            <p>
                <a href="https://www.qualtrics.com/privacy-statement/" target="_blank" class="is-external">Qualtrics
                    &nbsp;&nbsp;</a>
            </p>
        </div> 
    </body>

</html>